#register-form div.form-group div.text-danger {
    font-weight: 900;
}

div.text-danger + input {
    border-color: #a94442;
}

div.text-danger + input.input-success {
    border-color: #3c763d;
}

div.text-danger + input:focus {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169,68,66,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169,68,66,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169,68,66,.6);
}

div.text-danger + input.input-success:focus {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #67b168;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #67b168;
}

div.tl-head {
    background-color: #4976b2;
    height: 40px;
    padding-left:10px;

}

div.tl-head div {
    padding: 10px 0;
}

.tl-head div i.glyphicon-trash {
    cursor: pointer;
    color: #fff;

}

div.tl-title {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.tl-block {
    margin-top: 30px;
}